

.alert {
    --alert-green: #256425;
    color: var(--alert-green);
}

.alert.success {
    --alert-green: #985235;
}

.alert.warning {
    --alert-green: #162263;
}

.alert.error {
    --alert-green: #999990;
}